.event {
  width: 100%;
  height: 394px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1020px;
  height: 328px;
  position: relative;
}

.event__box #left-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #727272;
  position: absolute;
  z-index: 2;
  visibility: hidden;
}
.event__box #right-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #727272;
  position: absolute;
  right: 0;
  visibility: hidden;
}

.event__box > button {
  cursor: pointer;
  box-shadow: 0.5px 1.5px 1.5px 1px rgb(129, 128, 128);
}

.event__box__outer {
  width: 980px;
  height: 328px;
  overflow-x: hidden;
  margin-left: 20px;
}

.event-container {
  width: 100%;
  height: 272px;
  margin-top: 15px;
  overflow: hidden;
}

.event-container__slide {
  height: 100%;
  transition: margin-left 0.5s ease-in;
  animation: makeRoll 10s ease-in;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-play-state: running;
}

@keyframes makeRoll {
  0% {
    transform: translateX(0px);
  }
  5% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-1005px);
  }
  30% {
    transform: translateX(-1005px);
  }
  50% {
    transform: translateX(-2010px);
  }
  60% {
    transform: translateX(-2010px);
  }
  80% {
    transform: translateX(-3015px);
  }
  90% {
    transform: translateX(-3015px);
  }
  100% {
    transform: translateX(0px);
  }
}
